.balance{
  text-align: center;
  background-color: #fff;
  color: black;
  margin: 0rem 4rem;
  padding: .5rem;
  border-radius: .5rem;
}.saldo{
  margin: 1rem;
  font-size: 2rem;
}span{
  cursor:pointer;
}details{
  text-align: right;
  display: flex;
  flex-direction: column;
  margin: 1rem 4rem;
}summary, p{
  padding: 1rem;
  cursor: pointer;
}
