<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<section class="container">
  <section class="balance">
    <p class="saldo">Saldo atual R$ {{ saldo }}
      <span class="material-symbols-outlined"(click)="changeVisibility()">{{ visibilityIcon }}</span>
      <!--Só está mudando no primeiro click-->
  </section>
  <details>
    <summary>OPÇÕES </summary>
    <p routerLink="/transferencias">Transferências</p>
    <p routerLink="/extratos">Extrato</p>
    <p><app-button
      btnText="SAIR DESTA CONTA" routerLink="/"></app-button></p>
  </details>
</section>

