<section class="container">

  <h1 class="title">Transferências</h1>

  <app-form label="Digite o nome do usuário para quem deseja transferir" inputType="text"labelFor="cashInFor" id="cashInFor"></app-form>

  <app-form label="Digite o valor a ser transferido"labelFor="valor"inputType="number"></app-form>

  <div class="button"><button>CONFIRMAR</button></div>
  <!--Ao confirmar pedir senha-->

  <div class="button"routerLink="/principal"><button>Voltar ao menu principal</button></div>

</section>
